*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px;
    padding: 6px;
    text-decoration:none;
    box-sizing: border-box;
}

body{
     
     background-image: url("college2.jpg");
     background-size: 110%;
     padding-bottom: 10px;
      
    
}

form{
    
    border-radius: 3px;
    background: rgba(165, 164, 164, 0.702);
    
    width: 350px;
    height: 550px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
    left: 38%;
    top: 50%;
    transform: translate(135%,10%);

}
form h1{
    text-align: center;
   padding-right:50px ;
    margin-bottom: 30px;
    color:white;
    font-size: 25px;
    

}

.register h1{

    text-align: center;
   padding-right:50px ;
    margin-bottom: 30px;
    color:white;
    font-size: 25px;
    

}



.formdesign{
    border-bottom: 0.5px solid white;
    padding-left: 30px;
    position: relative;
    margin: 5px 0;
}

.formdesign input{
    background: none;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    height: 30px;
    font-size: 20px;

}
.loginbtn{
    height: 45px;
    text-align: center;
    width: 70%;
    margin: 40px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    /* background: linear-gradient(to top right,rgb(13, 54, 168),#2ea2f5,#00d1e3,#00e7a2,#8af606); */
    
    background-size: 200%;
    color: rgb(1, 1, 1);
    font-size: 16px; 
}



form p
{
  text-align: center;
  color: rgb(42, 30, 30);
  margin: 10px;
  padding-right: 2px;
  
}



form a:hover{
    text-align: center;
    color: rgb(180, 20, 220);
    
    
}

.loginbtn:hover{
    background-position: right;
    font-size: 17px;

}

.register{
    
    border-radius: 3px;
    background: rgba(165, 164, 164, 0.702);
    width: 350px;
    height: 550px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
    left: 38%;
    top: 50%;
    transform: translate(135%,10%);



}
select{
    background-color: rgb(222, 222, 222);
    border-radius:10px;
    width: 40%;
    text-align: center;
    

}
    


form .error-msg
{ 
    margin:10px 0;
    display: block;
    color: white;
    border-radius: 5px;
    background: crimson;
    text-align: center;

}